.gameBody{
    float: left;
    align-self: center;
    
}

.wins{
    float: left;
}

.losses{
    float: left;
}

.guesses{
    float: left;
}

body{
    text-decoration-color: deepskyblue;
    background-color: indigo;
    text-align: center;
}