.gameBody{
    float: left;
    align-self: center;
    margin-right: 400px;
    border: 30px;
}

.wins{
    float: left;
}

.losses{
    float: left;
}

.guesses{
    float: left;
}

body{
    text-anchor: deepskyblue;
    background-color: indigo;
    text-align: center;
}