.gameBody{
    float: left;
    align-self: center;
    padding-right: 400px;
    border: 30px;
    border-color: deepskyblue;
}

.wins{
    float: left;
}

.losses{
    float: left;
}

.guesses{
    float: left;
}

body{
    font-style: deepskyblue;
    background-color: indigo;
    text-align: center;
}